.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.created {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 0.5rem;
    color: var(--blue);
}

.taskscreated {
    width: 6.625rem;
    height: 1rem;
    font-style: normal;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1rem;
}

.done {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 0.5rem;
}

.concluded {
    font-style: normal;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1rem;

    color: var(--purple);
}

.counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 0.625rem;
    
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    color: var(--gray-200);
    background: #333333;
    border-radius: 62.4375rem;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-family: 'Inter', sans-serif;
}